!data/modeling/.gitkeep
data/modeling/*
!data/processed/20_newsgroups/.gitkeep
data/processed/20_newsgroups/*
!data/processed/wikipedia/.gitkeep
data/processed/wikipedia/*
!data/raw/20_newsgroups/.gitkeep
data/raw/20_newsgroups/*
!results/.gitkeep
results/*
!models/.gitkeep
models/*
!outputs/.gitkeep
outputs/
!pretrained_embeddings/.gitkeep
pretrained_embeddings/*
.idea/*
.ipynb_checkpoints